
body {
    font-size: 12px;
    border-spacing: 0;
}
.header { 
    
    border-spacing: 0;
    text-align: center;
    border-bottom: 6px solid black;
    }


   .container-th {
        background-color: antiquewhite;
        padding: 5px;
        font: black;
        border-radius: 5px;
        border-spacing: 0;
        font-size: .5rem;
   }

   .table {
    border: 4px gray;
    border-spacing: 0;
    font-size: .5rem;
    }

    .table-header-container {
        background-color: lightgray;
        
    }

    .tr-container {
        background-color: red;
        
    }
